<div class=" hero-container bg-gray-100 flex">
        <div class=" pl-10 pr-10  justify-center w-1/2">
            <h1 class="font-sans font-semibold text-6xl  relative top-28">Special Food Every Time For You And The Fastest Delivery In Your College</h1>
            <h3 class="relative top-28 pl-10 pt-2 pr-20 text-gray-400 text-lg">Be the Fastest in delivering your healthy food and with us order your <span class="relative left-28">best food anytime and anywhere</span></h3>
            <button class="relative top-32 left-56 text-white bg-red-500 font-medium rounded-lg text-m px-4 md:px-5 md:py-2.5  mr-1 md:mr-2 ">Order Now</button>
        </div>
        <div>
            <img src="/img/main.png" alt="main-img" class="realtive left-40">
        </div>
        <!-- <div class="container">
            <div class="typed-out">Web Developer</div>
        </div> -->
</div>

   